/* #187fc2 orange */
/* #0487cd blue */
/* #f4f3f2  gray*/

* {
  font-family: "Neue Haas Grotesk Text Pro", sans-serif;
}

.date {
  border: 5px solid #f4f3f2;
  background-color: #f4f3f2;
  border-radius: 10px;
}

#calendar {
  max-width: 900px;
  margin: 0 auto;
}

h1 span {
  position: absolute;
  top: -190px;
}

.links a {
  color: inherit;
  text-decoration: none;
  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 0),
      rgba(100, 200, 200, 0)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.links a:hover {
  background-size: 0 3px, 100% 3px;
}

.dfirstbutton {
  background: url(kravis.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 700px) {
  .dfirstbutton {
    background: url(schoolwide.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.atmback {
  background: url(back1.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.formpage {
  background: url(gray.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.css-1hbyad5-MuiTypography-root {
  display: none;
}
.css-hlj6pa-MuiDialogActions-root {
  display: none !important;
}

.css-j88s13-MuiPickersToolbar-root-MuiDatePickerToolbar-root {
  display: none !important;
}

.bigBack {
  background: url(back1.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grayCard {
  background: #f4f3f2;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 15px;
}

.bluecard {
  background: #f4f3f2;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* border-radius: 15px; */
}

.gray {
  background: #f4f3f2;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* border-radius: 15px; */
}

.blue {
  background: rgba(4, 158, 220, 0.2);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* border-radius: 15px; */
  color: white;
}

.orange {
  background: #187fc2;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  border-radius: 15px;
}

.white {
  background: url(white.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.orangeBack {
  background: url(orangey.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.border {
  border-style: solid;
  border-width: 5px;
}

body {
  max-width: 100%;
  font-family: "Neue Haas Grotesk Text Pro", sans-serif;
}

.font {
  font-family: "Neue Haas Grotesk Text Pro", sans-serif;
  color: black;
  text-decoration: none;
}

.fontbold {
  font-family: "Neue Haas Grotesk Text Pro", sans-serif;
  font-weight: bold;
}

.guy {
  width: 450px;
  height: 200px;
  /* width: 200; */
}

/* From uiverse.io by @adamgiebl */

.logoPic {
  border-radius: 20px;
}

.container {
  position: relative;
  /* width: 50%; */
  /* border: solid 1px black; */
}

.image1 {
  opacity: 1;
  display: cover;
  width: 550px;
  height: 300px;
  transition: 0.5s ease;
  backface-visibility: hidden;
  /* border-radius: 20px; */
  object-fit: contain;
}

.middle1 {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 18px;
}

.container1:hover .image1 {
  opacity: 0;
}

.container1:hover .middle1 {
  opacity: 1;
}

.text1 {
  background-color: #187fc2;
  color: White;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 18px;
}

.image2 {
  opacity: 1;
  display: cover;
  width: 550px;
  height: 300px;
  transition: 0.5s ease;
  backface-visibility: hidden;
  /* border-radius: 20px; */
  object-fit: contain;
  border-radius: 20px;
}

.middle2 {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 18px;
}

.container2:hover .image2 {
  opacity: 0;
}

.container2:hover .middle2 {
  opacity: 1;
}

.text2 {
  background-color: #187fc2;
  color: White;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 18px;
}

.nate {
  border-radius: 18px;
}

.map-container {
  width: 600px;
  height: 60vh;
}

.app {
  background-color: #0487cd;
}

.titlePic {
  background-position: top right 350px;
  background-image: url("./atm2.jpg");
  background-size: cover;
  /* background-position: left; */
  background-repeat: repeat-x;
  min-height: 100px;
  color: white;
}

.aboutUs {
  /* background-image: url('./back9.png'); */
  background-size: 100%;
  background-position: center;
}

.customers {
  /* background-image: url("./back3.png"); */
  background-size: 100%;
  background-position: center;
}
.form {
  /* background-image: url('./back10.png'); */
  background-size: 100%;
  background-position: center;
}

/* .inputs{
        background-color: #0487CD;
        border: solid 1px black;
        width:30%
      } */

/* body { */
/* display: flex; */
/* position: relative; */
/* justify-content: center; */
/* } */

.white-background {
  background: rgb(
    204,
    204,
    204
  ); /* Fallback for older browsers without RGBA-support */
  background: rgba(204, 204, 204, 0.7);
  border-radius: 10px;
  color: black;
  /* opacity: 0.5; */
  /* color: #187fc2; */
  box-shadow: 10;
}

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link_wrapper {
  position: relative;
}
.firstbutton button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.firstbutton button.learn-more {
  width: 12rem;
  height: auto;
}

.firstbutton button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #187fc2;
  border-radius: 1.625rem;
}

.firstbutton button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.firstbutton button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.firstbutton button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.firstbutton button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.firstbutton button:hover .circle {
  width: 100%;
}

.firstbutton button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.firstbutton button:hover .button-text {
  color: #fff;
}

.desc button {
  padding: 1.3em 3em;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #187fc2;
  border: none;
  border-radius: 45px;
  box-shadow: 10px 10px 5px #0487cd;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.desc button:hover {
  background-color: #187fc2;
  box-shadow: 5px 5px 2px #0487cd;
  color: #000;
  transform: translateY(-7px);
}

.desc button:active {
  transform: translateY(-1px);
}

.text-box {
  margin-left: 44vw;
  margin-top: 42vh;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

.transparent {
  opacity: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
}

img.image1 {
  border-radius: 20px;
}

.font1 {
  font-size: 20px;
}

/* .sticker{
  position:fixed;
  top: 200px;;

} */

.faqpic {
  height: 200px;
  width: auto;
  /* border: 3px solid black */
}

.cssbuttons-io-button {
  background: #a370f0;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

.graycard button {
  font-family: inherit;
  font-size: 40px;
  background: #187fc2;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.graycard button span {
  display: block;
  margin-left: 0.3em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.graycard button svg {
  display: block;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.graycard button:hover .svg-wrapper {
  -webkit-animation: fly-1 0.6s ease-in-out infinite alternate;
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.graycard button:hover svg {
  -webkit-transform: translateX(1.2em) rotate(45deg) scale(1.1);
  -ms-transform: translateX(1.2em) rotate(45deg) scale(1.1);
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.graycard button:hover span {
  -webkit-transform: translateX(5em);
  -ms-transform: translateX(5em);
  transform: translateX(5em);
}

.graycard button:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.bluecard button {
  font-family: inherit;
  font-size: 20px;
  background: #187fc2;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.bluecard button span {
  display: block;
  margin-left: 0.3em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bluecard button svg {
  display: block;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.bluecard button:hover .svg-wrapper {
  -webkit-animation: fly-1 0.6s ease-in-out infinite alternate;
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.bluecard button:hover svg {
  -webkit-transform: translateX(1.2em) rotate(45deg) scale(1.1);
  -ms-transform: translateX(1.2em) rotate(45deg) scale(1.1);
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.bluecard button:hover span {
  -webkit-transform: translateX(5em);
  -ms-transform: translateX(5em);
  transform: translateX(5em);
}

.bluecard button:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

@-webkit-keyframes fly-1 {
  from {
    -webkit-transform: translateY(0.1em);
    transform: translateY(0.1em);
  }

  to {
    -webkit-transform: translateY(-0.1em);
    transform: translateY(-0.1em);
  }
}

@keyframes fly-1 {
  from {
    -webkit-transform: translateY(0.1em);
    transform: translateY(0.1em);
  }

  to {
    -webkit-transform: translateY(-0.1em);
    transform: translateY(-0.1em);
  }
}

.contact button {
  color: hsl(0, 0%, 100%);
  font-family: "Neue Haas Grotesk Text Pro", sans-serif;

  padding: 17px 40px;
  border-radius: 50px;
  border: 0;
  background-color: #187fc2;
  -webkit-box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 25px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.contact button:hover {
  font-family: "Neue Haas Grotesk Text Pro", sans-serif;

  letter-spacing: 3px;
  background-color: #187fc2;
  color: black;
  -webkit-box-shadow: #c487cd 0px 7px 29px 0px;
  box-shadow: #c487cd 0px 7px 29px 0px;
}

.contact button:active {
  font-family: "Neue Haas Grotesk Text Pro", sans-serif;

  letter-spacing: 3px;
  background-color: #0487cd;
  color: hsl(0, 0%, 100%);
  -webkit-box-shadow: #0487cd 0px 0px 0px 0px;
  box-shadow: #0487cd 0px 0px 0px 0px;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: 100ms;
  transition: 100ms;
}

.borderRad {
  background-color: #f4f3f2;
  border-radius: 20px;
  display: flex;
  border: black solid 1px;
}

.borderRad1 {
  background-color: #f4f3f2;
  border-radius: 20px;
  display: flex;
  border: black solid 1px;
  padding: 30px;
}
.borderRad2 {
  background-color: #f4f3f2;
  border-radius: 20px;
  display: flex;
  border: black solid 1px;
  padding: 30px;
}

img {
  border-radius: 20px;
}

.login .input {
  max-width: 190px;
  height: 30px;
  border: 2px solid transparent;
  outline: none;
  border-bottom: 2px solid #3f3f3f;
  caret-color: #187fc2;
  background-color: #f4f3f2;
  padding: 5px;
  transition: 0.5s linear;
  font-family: monospace;
  letter-spacing: 1px;
}

.login .input:focus {
  border: 2px solid #187fc2;
  caret-color: #187fc2;
  color: #187fc2;

  box-shadow: 4px 4px 10px #0487cd;
}

.input:focus::placeholder {
  color: #187fc2;
}

.peopleback {
  background: url(back1.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.white a:link {
  color: #187fc2;
  text-decoration: none;
}

/* visited link */
.white a:visited {
  color: #187fc2;
  text-decoration: none;
}

/* mouse over link */
.white a:hover {
  color: #0487cd;
  text-decoration: none;
}

/* selected link */
.white a:active {
  color: #0487cd;
  text-decoration: none;
}

.login button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #187fc2;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.login button:hover {
  background-color: #0487cd;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.login button:active {
  transform: translateY(-1px);
}

.outline {
  border-top: 1px solid black;
}

.search-container {
  width: 280px;
  display: flex;
  flex-direction: column;
}

.dropdown {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.dropdown-empty {
  border: none;
}

.dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
}

.input {
  width: flex;
}

.search-inner {
  display: flex;
}
